@using Cosmetics.Web
@using System.Globalization;
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResource> SharedLocalizer

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewBag.Title - Turkishart.store</title>

    <!-- Bootstrap Core CSS -->
    <link href="~/admin/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="~/admin/css/sb-admin.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="~/admin/css/plugins/morris.css" rel="stylesheet">

    <link href="~/css/mystyle.css" rel="stylesheet" />

    <!-- Custom Fonts -->
    <link href="~/admin/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <link href="~/node_modules/devextreme/dist/css/dx.common.css" rel="stylesheet" />
    <link href="~/node_modules/devextreme/dist/css/dx.light.css" rel="stylesheet" />

    <!-- jQuery -->
    <script src="~/admin/js/jquery.js"></script>
    <script src="~/js/quill.min.js"></script>
</head>
<body>
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Turkishart.store</a>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">
                <li>
                    @await Html.PartialAsync("_SelectLanguagePartial")
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> @User.Identity.Name <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a asp-area="Identity" asp-page="/Account/Manage/Index"><i class="fa fa-fw fa-user"></i> Profile</a>
                        </li>
                        @*<li>
                                <a href="#"><i class="fa fa-fw fa-envelope"></i> Inbox</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-fw fa-gear"></i> Settings</a>
                            </li>*@
                        <li class="divider"></li>
                        <li>
                            <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                <button type="submit" class="logout-admin"><i class="fa fa-fw fa-power-off"></i> Log Out</button>
                            </form>
                            @*<a href="#"></a>*@
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li class="active">
                        <a asp-area="Admin" asp-controller="Admin" asp-action="Index"><i class="fa fa-fw fa-dashboard"></i> @SharedLocalizer["Panel"]</a>
                    </li>
                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#catalog"><i class="fa fa-fw fa-arrows-v"></i> @SharedLocalizer["Catalog"] <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="catalog" class="collapse">
                            <li>
                                <a asp-area="Admin" asp-controller="Category" asp-action="Index"> @SharedLocalizer["Categories"]</a>
                            </li>
                            <li>
                                <a asp-area="Admin" asp-controller="Manufacture" asp-action="Index">@SharedLocalizer["Manufacture"]</a>
                            </li>
                            <li>
                                <a asp-area="Admin" asp-controller="Product" asp-action="Index"> @SharedLocalizer["Products"]</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#configuration"><i class="fa fa-fw fa-arrows-v"></i> @SharedLocalizer["Configurations"] <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="configuration" class="collapse">
                            <li>
                                <a asp-area="Admin" asp-controller="Currency" asp-action="Index"> @SharedLocalizer["Currencies"]</a>
                            </li>
                            <li>
                                <a asp-area="Admin" asp-controller="Language" asp-action="Index"> @SharedLocalizer["Languages"]</a>
                            </li>
                            <li>
                                <a asp-area="Admin" asp-controller="Country" asp-action="Index"> @SharedLocalizer["Countries"]</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a asp-area="Admin" asp-controller="Cart" asp-action="Index"><i class="fa fa-fw fa-desktop"></i> @SharedLocalizer["Orders"]</a>
                    </li>
                    <li>
                        <a asp-area="Admin" asp-controller="Account" asp-action="Index"><i class="fa fa-fw fa-user"></i> @SharedLocalizer["Users"]</a>
                    </li>
                    <li>
                        <a asp-area="Admin" asp-controller="SettingPortal" asp-action="Edit"><i class="fa fa-fw fa-edit"></i> @SharedLocalizer["Portal settings"]</a>
                    </li>
                    @*<li>
                            <a href="charts.html"><i class="fa fa-fw fa-bar-chart-o"></i> Charts</a>
                        </li>
                        <li>
                            <a href="tables.html"><i class="fa fa-fw fa-table"></i> Tables</a>
                        </li>
                        <li>
                            <a href="forms.html"><i class="fa fa-fw fa-edit"></i> Forms</a>
                        </li>
                        <li>
                            <a href="bootstrap-elements.html"><i class="fa fa-fw fa-desktop"></i> Bootstrap Elements</a>
                        </li>
                        <li>
                            <a href="bootstrap-grid.html"><i class="fa fa-fw fa-wrench"></i> Bootstrap Grid</a>
                        </li>
                        <li>
                            <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-arrows-v"></i> Dropdown <i class="fa fa-fw fa-caret-down"></i></a>
                            <ul id="demo" class="collapse">
                                <li>
                                    <a href="#">Dropdown Item</a>
                                </li>
                                <li>
                                    <a href="#">Dropdown Item</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="blank-page.html"><i class="fa fa-fw fa-file"></i> Blank Page</a>
                        </li>
                        <li>
                            <a href="index-rtl.html"><i class="fa fa-fw fa-dashboard"></i> RTL Dashboard</a>
                        </li>*@
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper">
            @RenderBody()
        </div>
    </div>

    

    <!-- Bootstrap Core JavaScript -->
    <script src="~/admin/js/bootstrap.min.js"></script>
    <script src="~/js/axios.min.js"></script>
    <!-- Morris Charts JavaScript -->
    @*<script src="~/admin/js/plugins/morris/raphael.min.js"></script>
        <script src="~/admin/js/plugins/morris/morris.min.js"></script>
        <script src="~/admin/js/plugins/morris/morris-data.js"></script>*@

    <!-- DevExtreme library -->
    <script src="~/node_modules/devextreme/dist/js/dx.all.js"></script>
    <script src="~/node_modules/devextreme/dist/js/localization/dx.messages.en.js"></script>
    <script src="~/node_modules/devextreme/dist/js/dx.aspnet.data.js"></script>
    @*<script>
        console.log(`@CultureInfo.CurrentCulture.Name`);
        DevExpress.localization.locale(`tr-TR` || navigator.browserLanguage);</script>*@

    @RenderSection("Scripts", required: false)
</body>
</html>
