@model Cosmetics.BLL.DTO.CatalogModelDTO.CreateCategoryDTO
@using Cosmetics.BLL.DTO.ConfigurationModelDTO;
@using Cosmetics.Web
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResource> SharedLocalizer

@{
    ViewData["Title"] = SharedLocalizer["Create"];
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";

    int lngIndex = 0;
}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                @SharedLocalizer["Create"]
            </h1>
        </div>
    </div>

    <div class="row">
        <div id="gridContainer">
            <form asp-action="Create" id="form" enctype="multipart/form-data">
                <div class="col-md-12">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-row">
                        <div class="col-md-6">
                            @foreach (LanguageDTO languageDTO in ViewBag.Languages)
                            {
                                <h2>@languageDTO.Name</h2>
                                <hr />
                                <input type="hidden" class="form-control" name="CategoryTranslates[@lngIndex].LanguageCulture" value="@languageDTO.Culture" />
                                <div class="form-group">
                                    <label>@SharedLocalizer["Name"]</label>
                                    <input type="text" class="form-control" name="CategoryTranslates[@lngIndex].Name" />
                                </div>
                                <div class="form-group">
                                    <label>@SharedLocalizer["Description"]</label>
                                    <textarea class="form-control" name="CategoryTranslates[@lngIndex].Description" rows="3"></textarea>
                                </div>
                                <br />
                                lngIndex++;
                            }

                        </div>
                        <div class="col-md-6">
                            <h2>@SharedLocalizer["Data"]</h2>
                            <hr />
                            <div class="form-group">
                                <label>@SharedLocalizer["Parent"]</label>
                                <div id="categorySelection"></div>
                            </div>
                            <div class="form-group">
                                <label>@SharedLocalizer["Sorting"]</label>
                                <div id="sortNumber"></div>
                            </div>
                            <div class="form-group">
                                <div id="published"></div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="dx-fieldset">
                    <br />
                    <div id="summary"></div>
                    <br />
                    <div id="button"></div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/CustomStore.js"></script>
    <script>
        $(function () {
            $("#categorySelection").dxSelectBox({
                dataSource: getCategories,
                displayExpr: "name",
                valueExpr: "id",
                name: 'ParentCategoryId',
                searchEnabled: true
            });

            $("#sortNumber").dxNumberBox({
                value: 0,
                min: 0,
                showSpinButtons: true,
                name: 'DisplayOrder',
            }).dxValidator({
                validationRules: [{
                    type: "required",
                    message: '@SharedLocalizer["Enter a sort list"]'
                }]
            });

            $("#published").dxCheckBox({
                value: true,
                text: '@SharedLocalizer["Active"]',
                name: 'Published',
            });

            $("#button").dxButton({
                text: '@SharedLocalizer["Add"]',
                type: "default",
                useSubmitBehavior: true,
            });
            $("#summary").dxValidationSummary({});
        });
    </script>

}